# 1. csv load & convert to list

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("2_sexual.csv")

In [3]:
df.head()

,Unnamed: 0,0,1,2,3
0,1,"맞아, 여자는 몸만 대주면 돈 많이 받잖아",2,"['맞', '어', ',', '여자', '는', '몸', '만', '대', '어',...","대,어,주,대어주"
1,2,소추 한남들은 소추라서 소심한 건가?,2,"['소추', '한', '남', '들', '은', '소추', '이', '라서', '소...",소추
2,3,대딸이나 에프터도 가능한가요?,2,"['대', '딸', '이나', '에프터', '도', '가능', '하', 'ᆫ가', ...","대,딸,대딸"
3,4,다리 벌려 줘도 안 박을 것 같아,2,"['다리', '벌리', '어', '주', '어도', '안', '박', '을', '것...","벌리,박,을,박을"
4,5,회춘에는 꼬튜물만한게 없더라,2,"['회춘', '에', '는', '꼬튜물', '만', '하', 'ᆫ', '것', '이...","꼬튜물,꼬추물,고추물"

In [4]:
sexual_dict = set()
for temp in df['3']:
    temp = temp.replace('.',',') # 실수 커버용
    sexual_dict.update(temp.split(','))

print(len(sexual_dict))
sexual_dict = list(sexual_dict)
sexual_dict.sort()

1392

In [5]:
sexual_dict[:30]

['19금',
 '가랑',
 '가랑이',
 '가랭이',
 '가만',
 '가슴',
 '가슴골',
 '가슴털기',
 '가슴팍',
 '가죽몽댕이',
 '가짜버지',
 '가짜보지',
 '가치',
 '가터',
 '가터벨트',
 '각',
 '각선미',
 '갈두',
 '감',
 '강간',
 '강직',
 '강직도',
 '개',
 '개꼴',
 '개꼴리',
 '개꼴리네',
 '개딱먹고',
 '개보지',
 '개봉',
 '개봊이']

# 2. Convert list to csv

In [6]:
df2 = pd.DataFrame(sexual_dict)

In [7]:
df2.tail()

         0
1387  흔들리는
1388    흘리
1389    흥분
1390    희롱
1391     힙

In [8]:
df2.to_csv("sexual_dictionary.csv",encoding="utf-8-sig")