# 1. csv load & convert to list

In [18]:
import pandas as pd

In [19]:
abuse2 = pd.read_csv("2_abusement.csv")
abuse3 = pd.read_csv("3_abusement.csv")
abuse4 = pd.read_csv("4_abusement.csv")
abuse5 = pd.read_csv("5_abusement.csv")

In [21]:
abuse_dict = set()
for temp in abuse2['3']:
    temp = temp.replace('.',',') # 실수 커버용
    temp = temp.replace('\'','')
    temp = temp.replace(' ','')
    abuse_dict.update(temp.split(','))
for temp in abuse3['3']:
    temp = temp.replace('.',',') # 실수 커버용
    temp = temp.replace('\'','')
    temp = temp.replace(' ','')
    abuse_dict.update(temp.split(','))
for temp in abuse4['3']:
    temp = temp.replace('.',',') # 실수 커버용
    temp = temp.replace('\'','')
    temp = temp.replace(' ','')
    abuse_dict.update(temp.split(','))
for temp in abuse5['3']:
    temp = temp.replace('.',',') # 실수 커버용
    temp = temp.replace('\'','')
    temp = temp.replace(' ','')
    abuse_dict.update(temp.split(','))
    
print(len(abuse_dict))
abuse_dict = list(abuse_dict)
abuse_dict.sort()

5706

In [22]:
abuse_dict[:30]

['',
 '???',
 '???깨',
 '???꼬머',
 '\\',
 '`ㄱ',
 'ᆫ데',
 'ㄴ',
 'ㄹ',
 'ㅁ',
 'ㅇㅁ빠',
 '가',
 '가격',
 '가난',
 '가난뱅이',
 '가두',
 '가둬서',
 '가득',
 '가랑이',
 '가루',
 '가르',
 '가르치',
 '가리',
 '가부장',
 '가스',
 '가스실',
 '가슴',
 '가오',
 '가오충',
 '가위']

# 2. Convert list to csv

In [25]:
df2 = pd.DataFrame(abuse_dict)

In [26]:
df2.head()

,0
0,
1,???
2,???깨
3,???꼬머
4,\

In [27]:
df2.to_csv("abuse_dictionary.csv",encoding="utf-8-sig")