# 1. csv load & convert to list

In [15]:
import pandas as pd

In [26]:
sexual2 = pd.read_csv("2_sexual.csv")
sexual3 = pd.read_csv("3_sexual.csv")
sexual4 = pd.read_csv("4_sexual.csv")
sexual5 = pd.read_csv("5_sexual.csv")

In [29]:
sexual_dict = set()
for temp in sexual2['3']:
    temp = temp.replace('.',',') # 실수 커버용
    temp = temp.replace('\'','')
    temp = temp.replace(' ','')
    sexual_dict.update(temp.split(','))
for temp in sexual3['3']:
    temp = temp.replace('.',',') # 실수 커버용
    temp = temp.replace('\'','')
    temp = temp.replace(' ','')
    sexual_dict.update(temp.split(','))
for temp in sexual4['3']:
    temp = temp.replace('.',',') # 실수 커버용
    temp = temp.replace('\'','')
    temp = temp.replace(' ','')
    sexual_dict.update(temp.split(','))
for temp in sexual5['3']:
    temp = temp.replace('.',',') # 실수 커버용
    temp = temp.replace('\'','')
    temp = temp.replace(' ','')
    sexual_dict.update(temp.split(','))
    
print(len(sexual_dict))
sexual_dict = list(sexual_dict)
sexual_dict.sort()

3697

In [31]:
sexual_dict[:30]

['',
 '19금',
 '6',
 '69',
 '69자세',
 '9cm',
 'AV',
 'A컵',
 'DDR',
 'G스팟',
 'G스폿',
 'SM플레이',
 'av',
 'av배우',
 'ㄴ',
 'ㄹ',
 'ㅂㄱㅂㄱ',
 '가',
 '가능',
 '가랑',
 '가랑이',
 '가랑이빨이',
 '가랑이장사꾼',
 '가랭이',
 '가리',
 '가리개',
 '가만',
 '가면대준다는',
 '가버리',
 '가슴']

# 2. Convert list to csv

In [32]:
df2 = pd.DataFrame(sexual_dict)

In [33]:
df2.head()

      0
0
1   19금
2     6
3    69
4  69자세

In [34]:
df2.to_csv("sexual_dictionary.csv",encoding="utf-8-sig")